<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <style>
        
      
      a{
        text-decoration : none;
        color : black;
      }
    </style>
</head>
<body>
  {% csrf_token %}

 {% for rooms in roomDetails %}
  <a href = "{% url 'BookSelection' number=rooms.number %}">
  <h2> Number : {{rooms.number }}</h2>
  <h2> Capacity : {{rooms.capacity }}</h2>
  <h2> Category : {{rooms.category }}</h2>

  <br>
  <br>
    {%endfor%} 
  </a>
</body>
</html>