<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            text-decoration : none;
            padding : 10px;
            background-color: rgba(0, 0, 77, 0.9);
            color : white;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    {% csrf_token %}

    {% comment %} {% for rooms in SpecificDetail %}
    <h3> you are going to book room with room number {{rooms.number }} having capacity of {{rooms.capacity }} people and which falls under {{rooms.category }} category</h3>
    {% endfor %} {% endcomment %}

    {% for rooms in SpecificDetail %}
    <h3> you are going to book room with room number {{rooms.number }} having capacity of {{rooms.capacity }} people and which falls under {{rooms.category }} category</h3>
    {% endfor %}
   
    <a href=""> Pay & Book </a>
</body>
</html>